
p.aboutresponsive
{
color: white;
font-size: 1.5em;
font-family: all-round-gothic,sans-serif;;
text-align: justify;
}


img.imagehome {
  display: block;
 width: 100%;
 height: auto;
 padding-bottom: 50px;
}
/*contact page*/
.phone {
  font-size: 15px;
}

.contacthr{
  opacity: 0.0;
  padding-bottom: 50px;
}

label {
  color: white;
}

.form {
  float: left;
  width: 40%;
  margin: 20px 160px;
}
/* Clear floats after the columns */
.form:after {
  content: "";
  display: table;
  clear: both;
}

.information {
  float: right;
  width: 20%;
  background-color: white;
  margin-top: 40px;
  padding-left: 10px;
  margin-right: 160px;
}

/* Clear floats after the columns */
.information:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  width: 50%;
  background-color:#F29C50;
  color: white;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
  font-family: all-round-gothic, sans-serif;
}

input[type=submit]:hover {
  color: #45a049;
}

label[for=fname] {
  font-size: 20px;
  font-family: all-round-gothic, sans-serif;
}

label[for=lname] {
  font-size: 20px;
  font-family: all-round-gothic, sans-serif;
}

label[for=email] {
  font-size: 20px;
  font-family: all-round-gothic, sans-serif;
}

label[for=subject] {
  font-size: 20px;
  font-family: all-round-gothic, sans-serif;
}

.imagehome {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 15%;
}

/*nav bar*/
div.top-bar {
  opacity: 0.9;

}

a {
  color: #233780;
  margin-top: 25px;
  font-size: 22px;
}
a:link {
    font-family: all-round-gothic, sans-serif;
  text-align: center;

}
a:hover {
  color: #F29C50;
}
.superwaytitle{
  font-weight: 800;
  font-size: 24px;
}

.logotitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  width: 40%;
  top: 100px;
  margin-top: -55px;
  margin-left: -100px;
  margin-bottom: -15px;
}
li {
  display:table;
margin:0px auto 0px auto;
}

/*end of nav bar*/

/* body */

h1 {
  font-family: all-round-gothic, sans-serif;
font-weight: 200;
font-style: normal;
  color: #a9edff;
  font-size: 80px;
  text-align: center;
}
h2 {
  font-family: all-round-gothic, sans-serif;
font-weight: 200;
font-style: normal;
text-align: center;}


h3 {
  font-family: all-round-gothic, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
    color: #a9edff;
}

h4 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
      }
/* end of body */

p.homepage {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: left;


}

div.overlay_text {
  position: absolute;
    color: white;
    font-weight: bold;
    font-family: all-round-gothic, sans-serif;
    font-size:25px;
    text-align: center;
    top: 875px;
    width: 15%;
    background-color: #233780;
    background-size: cover;

}

/* aboutus css */
.row {
  display: flex;
}

p.column {
  flex: 50%;
}
hr{

}

body.aboutus {
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
   color: #545454;
   font-size: 16px;
   line-height: 1.5;
   margin: 0 auto;
   height: 100%;

background:linear-gradient(#b3daf2, #7a7ebf, #253f9c, #233780)

}

.reveal {
color: black;
background:linear-gradient(#b3daf2, #7a7ebf, #253f9c, #233780);
padding-left:60px;
}

.vector{
  height: 400px;;
}

.image {
    position: relative;
}

.storefront {
  width: 100%;
  background-size: cover;
    background-attachment:fixed;
    padding-bottom: 2em;

}

div.overlaytext {
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: all-round-gothic, sans-serif;
    font-size: 80px;
    text-align: center;
    top: 50px;
    width: 50%;
    background-color: #233780;
    background-size:contain;
box-shadow: 10px 20px 20px black;
}

/* end of aboutus css */

/* footer taken from https://foundation.zurb.com/building-blocks/blocks/social-footer.html */
.social-footer {
  padding: 1em;
  background: #F29C50;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}


/* end of footer */











/* text properties */

h1.aboutus {
  font-family: all-round-gothic, sans-serif;
font-weight: 200;
font-style: normal;
  color: #a9edff;
  font-size: 40px;
  text-align: center;
}
p.aboutus {
  margin: 0 auto;
  text-align:center;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #a9edff;
  font-size: 24px;
  max-width: 500px;

}





@media only screen and (max-width: 710px) {

    body{max-width: 500px;
         min-width: 250px;}
    div.overlaytext { font-size: 2em;}
    p.aboutus{ font-size: 16px; }
    h1.aboutus {font-size: 28px;}
    div.top-bar {
      opacity: 0.9;
    }

    a {
      color: #233780;
      margin-top: -10px;
      font-size: 16px;
    }
    .logotitle {
      font-size: 30px;
      width: 15%;
      margin-left: -40px;
      margin-top: -30px;
    }

    }
